{% extends 'base/base.html' %}
{% load static %}

{% block title %}Event List{% endblock title %}

{% block breadcrumb %}
    <div>
        <h1><i class="fa fa-dashboard"></i> Add Personnel</h1>
        <p>Event List</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a href="#">Event List</a></li>
    </ul>
{% endblock breadcrumb %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="block-title">
                <h2><strong>Новая </strong><u>  Командировка</u></h2>
                <p></p>
                    <head>
                        <body>
                            <form action="{% url 'create_vacation' %}" method="POST" >
                                {% csrf_token %}
                                <table>
                                    {{ form }}
                                    <p1></p1>
                                    <div class="form-error">{{ f.errors }}</div>
                                </table>
                                <input type="submit" value="Save" />
                                <script>document.write('<a href="' + document.referrer + '">Go Back</a>');</script>
                            </form>
                        </body>
                    </head>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrascripts %}
    <script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript">$('#sampleTable').DataTable();</script>
{% endblock extrascripts %}