{% extends 'app_company/index.html' %}

{% block title %}
    <title>{{title}}</title>
{% endblock %}

{% block content %}

<!--<div class="content-header">-->
<!--    <div class="header-section">-->
<!--        <h1>-->
<!--            <i class="fa fa-table"></i>Groups<br><small>you can ....</small>-->
<!--        </h1>-->
<!--    </div>-->
<!--</div>-->
<!--<ul class="breadctumb breadctumb-top">-->
<!--    <li>News</li>-->
<!--    <li><a href="/function_group/">Groups</a> </li>-->
<!--</ul>-->

{% for cc in group %}
<tr>
    <td>{{ cc.name }}</td>
    <td class="text-center">
        <div class="btn-group">
            <a href="#" data-bs-toggle="tooltip" title="Edit"></a>
        </div>
    </td>
</tr>
{% endfor %}
{% endblock %}