{% extends 'app_personnel/base.html' %}

{% block title %}
    <title>{{title}}</title>
{% endblock %}

{% block header %}
<section>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'structure' %}">struktura</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'qualifications' %}">kwalifikacje</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'function' %}">Stanowiska</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'vacation' %}">urlopy</a>
      </li>
    </ul>
  </nav>
  <div class="container">
    <div class="btn-group btn-group-sm">
      <a type="button" class="btn btn-primary " href="{% url 'create_structure' %}">+ wprowadzić limity pracy zdalnej</a>
    </div>
  </div>
</section>
{% endblock header %}
