{% extends 'app_personnel/base.html' %}

{% block title %}
    <title>{{title}}</title>
{% endblock %}

{% block header %}
<section>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'structure' %}">подразделение фирмы</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'employee_list' %}">lista pracownków</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'function_group' %}">Должности</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">отпуска</a>
      </li>
    </ul>
  </nav>
  <div class="container">
    <div class="btn-group btn-group-sm">
      <a type="button" class="btn btn-primary " href="{% url 'function_group' %}">+ Добавить</a>
    </div>
  </div>
</section>
{% endblock header %}
