{% load static %}

<!DOCTYPE html>
<html>
{% block head %}
    <head>
    {% block title %}
          <title>{{title}}</title>
    {% endblock %}
          <!-- CSS only -->
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
          <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet">
          <link rel="stylesheet" href="{% static 'app_personnel/css/stylesheet.css' %}" type="text/css"/>
            <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
    </head>
{% endblock %}
{% block page %}
    {% block menu %}
        <body>
        <nav class="navbar navbar-dark bg-dark" style="position:sticky; top:0;">
          <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}"><i class="fa-solid fa-house-user"></i>Home</a>
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            <a href="{% url 'structure' %}"><i class="fa-solid fa-gears"></i></a>
            {% if request.user.is_authenticated %}
            <li class="last"> <a style="color:white;"> {{ user.username }} | </a><a href="{% url 'logout' %}">Выйти</a></li>
            {% endif %}
          </div>
        </nav>
    {% endblock menu %}
    {% block header %}
    {% endblock header %}
    {% block sidebar %}
        <div class="sidenav">
          <a href="#">{{ user.username }}</a>

          <button class="dropdown-btn">отдел кадров
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-container">
            <a href="{% url 'personnel' %}">Список сотрудников</a>
            <a href="{% url 'delegation' %}">командировки</a>
            <a href="#">Link 3</a>
          </div>
            <a href="{% url 'delegation' %}">командировки</a>
          <a href="#clients">Clients</a>
          <a href="#contact">Contact</a>
          <a href="#contact">Search</a>
        </div>
    {% endblock sidebar %}

    {% block content %}
    {% endblock content %}

{% endblock page %}


    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="{% static 'app_personnel/js/script.js' %}"></script>

</body>
</html>