{% extends 'app_personnel/base.html' %}

{% block title %}
    <title>{{title}}</title>
{% endblock %}

{% block header %}
<style>
    section {
        margin-left: 15%;
    }

</style>

<section>

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'create_personnel' %}">+ регистрация нового сотрудника</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Персональные данные</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'create_employment' %}">трудоустройство</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'create_employee' %}">dział i stanowisko</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'register' %}">регистрация в системе</a>
      </li>
    </ul>
  </nav>
</section>
{% endblock header %}