{% extends 'base/base.html' %}
{% load static %}

{% block title %}Event List{% endblock title %}

{% block breadcrumb %}
    <div>
        <h1><i class="fa fa-dashboard"></i> Сотрудники организации</h1>
        <p>Event List</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a href="#">Event List</a></li>
    </ul>
{% endblock breadcrumb %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-hover table-bordered dataTable no-footer"  role="grid" aria-describedby="sampleTable_info">
                                <thead>
                                <h2><strong>{{employee_detail.employee}} </strong>
                                    {{human.first_name}}</p>
                                </h2>
                                    <tr role="row">
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 189.281px;">
                                            {% if human.image %}
                                                <p><img class="img-article-left thumb" height="100px" width="150px" src="{{human.image.url}}"></p>
                                            {% endif %}
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 417.312px;">
                                            <div class="contest">
                                                {% autoescape on %}
                                                <p class="app-sidebar__user-name">ФИО: &nbsp; {{employee_detail.employee}} &nbsp; {{human.first_name}}
                                                    {% if human.fathers_name %}
                                                        &nbsp; {{human.fathers_name}}
                                                    {% endif %}</p><p></p>
                                                {% endautoescape %}
                                                <p class="app-sidebar__user-name">Должность: &nbsp; {{employee_detail.function}}</p>
                                                <p class="app-sidebar__user-name">подразделение фирмы: &nbsp;{{employee_detail.departament}}</p>
                                                    <div class="contest_scorecard">
                                                        <h1>Scorecard</h1>
                                                        {% for i in employee.personnel_set.all %}
                                                            <li>{{ i.email }}</li>
                                                            <li>{{ i.departament }}</li>
                                                            <li>{{ i.phone }}</li>
                                                        {% endfor %}
                                                    </div>
                                                <a class="btn btn-xs btn-secondary btn-sm" href="#" data-toggle="tooltip" title="delete" role="button" ><i class="fa fa-angle-right"> Дать права </i></a>
                                                <script>document.write('<a href="' + document.referrer + '">Go Back</a>');</script>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>





{% endblock content %}

{% block extrascripts %}
    <script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript">$('#sampleTable').DataTable();</script>
{% endblock extrascripts %}