{% extends 'app_personnel/index.html' %}

{% block title %}
    <title>{{title}}</title>
{% endblock %}

{% block content %}
<style>
    form {
        margin-left: 15%;
    }
</style>

<form method="post">
    {% csrf_token %}
    {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}:</label>{{ f }}</p>
    <p1></p1>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <input type="submit" value="Save" />
    <script>document.write('<a href="' + document.referrer + '">Go Back</a>');</script>
</form>
{% endblock %}